{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-5 mb-5">
  <div class="row ">
    <div class="card col-md-7">
      <img class="card-img-top" width="100%" src="{{ project.image.url }}" alt="-------">
      <div class="card-body">
        <h5 class="card-title"><strong>{{project.project_name|title}}</strong></h5>
        <p class="card-text"><small class="text-muted">{{project.details}}</small></p>
        <div class="row justify-content-center">
          {% if rates %}
          <div class="col-md-3">
            <p class="text-center">DESIGN</p>
            <div class="row justify-content-center">
              <button class="btn p-3"
                style="border-radius: 50%;  background-color:#FF5400 ;">{{project.avg_design |floatformat}}</button>
            </div>
          </div>
          <div class="col-md-3">
            <p class="text-center">USABILITY</p>
            <div class="row justify-content-center">
              <button class="btn p-3"
                style="border-radius: 50%; background-color:#8AC926 ;">{{project.avg_usability |floatformat}}</button>
            </div>
          </div>
          <div class="col-md-3">
            <p class="text-center">CONTENT</p>
            <div class="row justify-content-center">
              <button class="btn p-3"
                style="border-radius: 50%;  background-color:#390099 ;">{{project.avg_content |floatformat}}</button>
            </div>
          </div>
          {%else%}
          <h3 style="padding-left:400px;">This project has no ratings</h3>
          {%endif%}
        </div>
        <p class="card-text"><small class="text-muted"><strong>By__</strong> {{ project.user.user.username}}</small></p>

        <p class="card-text"><small class="text-muted"><strong>On__</strong>{{project.date|date}}</small></p>
        <div class="row justify-content-center">
          <a href="{{ project.link }}" class="btn btn-small col-md-4 mr-4 ">View Project</a>
          <a href="{% url 'rate' project_id=project.id%}" class="btn btn-small col-md-4 p-2">Rate Project</a>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      {% for rate in rates %}

      {% if project.id == rate.project.id %}
      <div class="row">
        <div class="col-md-2">
          <b> {{rate.user.username}}:</b></div>
          div.col-md-1
        <div class="col-md-3">
          <p>design <br>{{rate.design}}</p>
        </div>
        <div class="col-md-3">
          <p>Usability <br> {{rate.usability}}</p>
        </div>
        <div class="col-md-3">
          <p>Content <br> {{rate.content}}</p>
        </div>
      </div>
      <div class="col">
        <hr>
      </div>
      {%endif%}

      {% endfor  %}
    </div>
  </div>





  {% endblock %}